<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Kviz</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/media/css/main.css}" href="../../media/css/main.css" />

</head>
<body>
<div th:replace="partials/header :: header"/>

<div class="container">
    <section layout:fragment="content">
        <!-- CONTENT GOES HERE -->
    </section>
</div>
<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

<div layout:fragment="scripts">
    <!-- ADD ADDITIONAL SCRIPTS-->
</div>

</body>
</html>
