<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/decorator">

<body>
<div layout:fragment="content">

    <div class="row justify-content-center">

        <form class="col-8" id="form-question" th:action="@{/new-question}" th:object="${question}" method="post">

            <div class="form-group">
                <label>Smjer</label>
                <select id="course"  name="course" class="form-control" required="required">
                    <option th:each="course : ${courses}" th:inline="text">[[${course.name}]]</option>
                </select>
            </div>

            <div class="form-group">
                <label>Semestar</label>
                <select name="semester" class="form-control" required="required">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>

            <div class="form-group">
                <label>Predmet</label>
                <select name="subject" id="subject" class="form-control" required="required">
                    <option th:each="subject : ${subjects}" th:inline="text">[[${subject.name}]]</option>
                </select>
            </div>

            <div class="form-group">
                <label>Ispit</label>
                <select name="exam" id="exam" class="form-control" required="required">
                    <option th:each="exam : ${exams}" th:inline="text">[[${exam.id}]]</option>
                </select>
            </div>

            <div class="form-group">
                <label>Pitanje</label>
                <input class="form-control" id="question" name="question"  placeholder="Pitanje" required="required"/>
            </div>

            <div class="form-group">
                <label>Odgovori</label>
                <div class="input-group" th:each="i : ${#numbers.sequence( 0, 3)}" style="margin-bottom: 10px">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="radio" th:id="|correct${i}|" name="correct" th:value="${i}" />
                        </div>
                    </div>
                    <input type="text" th:name="|answers[${i}].answer|" class="form-control" placeholder="Unesi odgovor" required="required" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Predaj</button>
        </form>
    </div>

</div>

</body>
</html>